<div class='col-xs-10 col-xs-offset-1 about'>

  <h1>About Splurty</h1>

  <p>
    Uplifting Quotes Splurty was built by <a target='_blank' href='http://github.com/MarciaOrr'>marcia Marcia MARCIA</a>. She is a web development student with the Firehose Project. Splurty is her first published project.
  </p>
  <br />
  <p>
    If you want to learn to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  <br class='clear' />

  <div class='col-xs-12 col-sm-4'>
    <%= image_tag 'firehosePhoto.jpg', class: 'img-responsive' %>
  </div>

  <div class='col-xs-12 col-sm-7 col-sm-offset-1'>
    <h2 class="text-center">Marcia Orr</h2>
    <br />
    <p>
      Marcia is an experienced software developer and Modeling and Simulation scenario developer.
      <br/><br/>In her career, she has primarily supported the Department of Defense. She has written machine code (actual binary words), assembler, Cobol, Fortran, Pascal, and Ada. Marcia's most recent experience is with C and C++ to support the Navy.
      <br/><br/>Marcia's current career goal is to serve as a web developer for a not-for-profit in Colorado or to help a small-business entrepreneur launch their web site.
      <br/> <br/> You can find Marcia writing code in the high, thin, dry, blue air of Colorado Springs in the company of her
      dogs Bouncer and Cade.
    </p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
