@import "bootstrap-sprockets";
@import "bootstrap";

header {
  border-top: 9px solid #222222;
}

.circle {
    font-weight:bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #4DE361;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #000;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform:rotate(11deg);
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  text-align: center;
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, 
               "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond",
                "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L",
                Georgia, serif;
  font-style: italic;
  font-size: 24px;
  padding-top: 26px;
}

.links {
  padding-top: 26px;
}

a {
  color: #009933;
  font-size: 18px;
  margin: 0px 15px 0px 15px;
  padding-bottom: 3px;
  border-bottom: 1px solid #009933;
}

hr {
  border-top: 4px double #32CD32;
  clear:both;
}

h1 {
  color: blue;
  font-size: 24px;
}
h2 {
  color: gold;
  font-size: 18px;
}
.clear {
  clear:both;
}